<div class="container orange-container">

    <div class="row justify-content-center">

        <div class="col-10">

            <h1>{{name}}</h1>

            <hr />

            <img width="80%" src="{{image}}" alt="{{name}} image " />

            <ul>
                <li> <b>Description: </b> {{description}}</li>
                <li> <b>Date:</b> {{date}}</li>
                <li> <b>Location:</b> maps </li>
            </ul>

            <div class="row justify-content-between">

                <div class="col-3">
                    <a href="#" type="button" class="btn btn-primary">Join</a>
                </div>
                <div class="col-6">
                    <a href="#" type="button" class="btn btn-dark">Edit Event</a>
                    <a href="#" type="button" class="btn btn-danger">Delete
                        Event</a>
                </div>

            </div>

        </div>

    </div>

</div>