<div class="container event-details-container">

    <div class="row justify-content-center">

        <div class="col-10">

            <div class="row">

                <div class="col-12">
                    <h1 class="text-center mb-5 mt-5">{{event.name}}</h1>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <img class="event-image" src="{{event.image}}" alt="{{event.name}} image " />
                        </div>
                        <div class="col-12">
                            <h3>Participants</h3>
                        </div>
                        <div class="col-12 d-flex flex-column">
                            {{#each event.participants}}
                                <a href="/community/details?id={{_id}}">
                                    <img title="{{name}}" src="{{image}}" class="mini-image" alt="{{name}} image">
                                </a>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">

                    <div class="row">

                        <div class="col-12">

                        <div class="col-12">
                            <h3>Organized by</h3>
                        </div>

                        <br>

                        <div class="col-12">
                            <a href="/community/details?id={{event.owner._id}}">
                                <img class="mini-image" src="{{event.owner.image}}" title="{{event.owner.username}}" alt="{{event.owner.username}} image">
                             </a> <span></span>
                            <p>{{event.owner.username}}</p>
                        </div>

                        <div class="col-12">
                            <h3>Information</h3>
                        </div>

                        <div class="col-12">
                           <p>{{event.description}}</p> 
                        </div>

                        <br>

                        <div class="col-12">
                            <h3>Where and when?</h3>
                        </div>

                        <div class="col-12">
                            <p>{{event.date}}</p> 
                        </div>

                        <div class="col-12">
                            <h3>Location</h3>
                            <p id="address">{{event.address}}</p></li>
                            <div id="map-canvas"></div>
                        </div>

                    </div>
                    
                </div>

            </div>


            <p id="error-msg"></p>

            <div class="row justify-content-between">

                {{#unless isOwner}}

                    {{#if isParticipant}}
                        <div class="col-3">
                            <a href="/events/delete?id={{event.id}}" type="button" class="btn btn-primary">Cancel Attendance</a>
                        </div>
                    {{else}}
                        <div class="col-3">
                            <a href="/events/join?id={{event.id}}" type="button" class="btn btn-primary">Join</a>
                        </div>
                    {{/if}}

                {{/unless}}

                <div class="col-6 d-flex" >
                    <a href="/events/edit?id={{event.id}}" type="button" class="btn btn-dark" style="
    margin-right: 1rem"> Edit Event </a>
                    

                    <form method="POST" action="/events/delete">
                        <input type="text" value="{{event.id}}" name="id" hidden>
                        <button type="submit" class="btn btn-danger"> Delete Event </button>
                        <form>

                </div>

            </div>

        </div>

    </div>
    </div>
</div>

<script src="../../js/maps/mapStyles.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/maps/drawMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap"></script>