<div class="container orange-container">

    <div class="row justify-content-center">

        <div class="col-10">

            <h1>{{event.name}}</h1>

            <hr />

            <img width="80%" src="{{event.image}}" alt="{{event.name}} image " />

            <ul>
                <li> <b>Description: </b> {{event.description}}</li>
                <li> <b>Date:</b> {{event.date}}</li>
                <li> <b>Location:</b> <span id="address">{{event.address}}</span></li>
                <li> <b>Event Creator:</b> {{event.owner.username}} </li>
                <li> <b>Participants:</b>
                    {{#each event.participants}}
                    {{username}}
                    {{/each}}
                </li>

            </ul>

            <div class="col-md-7">
                <div id="map-canvas"></div>
            </div>

            <p id="error-msg"></p>

            <div class="row justify-content-between">

                {{#unless isOwner}}

                    {{#if isParticipant}}
                        <div class="col-3">
                            <a href="/events/delete?id={{event.id}}" type="button" class="btn btn-primary">Cancel Attendance</a>
                        </div>
                    {{else}}
                        <div class="col-3">
                            <a href="/events/join?id={{event.id}}" type="button" class="btn btn-primary">Join</a>
                        </div>
                    {{/if}}

                {{/unless}}

                <div class="col-6 d-flex">
                    <a href="/events/edit?id={{event.id}}" type="button" class="btn btn-dark"> Edit Event </a>

                    <form method="POST" action="/events/delete">
                        <input type="text" value="{{event.id}}" name="id" hidden>
                        <button type="submit" class="btn btn-danger"> Delete Event </button>
                        <form>

                </div>

            </div>

        </div>

    </div>

</div>

<script src="../../js/maps/mapStyles.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../../js/maps/drawMap.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap"></script>