<div class="container orange-container">


    <div class="row">

        <div class="col-12">
            <h1 class="text-center mb-5">list of events</h1>    
        </div>

        <div class="col-12">
            <div class="row justify-content-between gx-5">
                <div class="col-10">
                        <div class="card-deck row gx-5">
                        {{#each events}}
                                <div class="card col-4 mr-4 mt-4">
                                    <img class="card-img-top" src="{{image}}" alt="{{name}} event image" />
                                    <div class="card-body">
                                        <h5 class="card-title">{{name}}</h5>
                                        <p class="card-text">{{address}}</p>
                                        <a href="/events/details?id={{id}}" class="btn btn-primary">Check details</a>
                                    </div>
                                </div>
                        {{/each}}
                        </div>
                </div>
                <div class="col-2 filters">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed in cupiditate magnam asperiores soluta?
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../js/api.handler.js"></script>
    <script src="../../js/script.js"></script>

</div>