<div class="container orange-container">
    <div class="row">
        <div class="col-12">
            <div class="row justify-content-between">
                <div class="col-8">
                        <h1 class="text-center mb-5 mt-5">list of events</h1>    
                        <div class="row cards-row">
                        {{#each events}}
                                <div class="card-container col-4">
                                    <div class="card">
                                        <img class="card-img-top" src="{{image}}" alt="{{name}} event image" />
                                        <div class="card-body d-flex flex-column justify-content-around">
                                            <h5 class="card-title">{{name}}</h5>
                                            <small class="card-text">{{address}}</small>
                                            <a href="/events/details?id={{id}}" class="btn btn-primary">Check details</a>
                                        </div>
                                    </div>
                                </div>
                        {{/each}}
                        </div>
                </div>
                <div class="col-3 filters">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control">
                         <div class="input-group-append">
                            <button class="btn btn-dark" type="button">Search</button>

                        </div>
                    </div>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed in cupiditate magnam asperiores soluta? </p> 
                    <button class="btn btn-dark" type="button">Search</button>

                    <div class="filters">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                    
                        <div class="dropdown-menu btn-sm" type="button  " aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">City</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../../js/api.handler.js"></script>
    <script src="../../js/script.js"></script>

</div>