<div class="container orange-container">

    <h1 style="color: white">Details of {{user.username}}</h1>

    <div class="row">

        <div class="col-12 col-md-4">
            <img src="{{user.image}}" alt="{{user.username}} image" class="profile-avatar">

            <ul>
                <li>Username: {{user.username}}</li>
                <li>Role: {{user.role}}</li>
                <li>Description: {{user.description}}</li>

                    {{#if user.isFollower}}
                    <a href="/user/unfollow?id={{user._id}}&view=details" class="btn btn-primary"> Unfollow </a>
                    {{else}}
                    <a href="/user/follow?id={{user._id}}&view=details" class="btn btn-primary"> Follow </a>
                    {{/if}}

            </ul>

        </div>

        <div class="col-12 col-md-8">
            <h2>Events created by {{user.name}}</h2>

            <ul>
                {{#each createdEvents}}
                <li>{{name}}</li>
                <small>{{address}}</small>
                {{/each}}
            </ul>

            <h2>Events to which {{user.name}} will assist to</h2>

            <ul>
                {{#each participatingEvents}}
                <li>{{name}}</li>
                <small>{{address}}</small>
                {{/each}}
            </ul>

            <h2>Followers</h2>

            <ul>
                {{#each user.followers}}
                <img src="{{image}}" class="community-avatar" alt="">
                <li>{{username}}</li>
                {{/each}}
            </ul>

            <h2>Following</h2>

            <div class="row">
                {{#each user.following}}
                <div class="col-1 d-flex flex-column justify-content-center align-items-center">
                    <img src="{{image}}" class="community-avatar" alt="">
                    <div class="following-username">{{username}}</div>
                </div>
                {{/each}}
            </div>

            <h2>Comments</h2>

            {{#each userComments}}

            <small>Comment by: {{owner.username}}</small>
            <br>
            <small>{{formattedDate}} at {{time}}</small>
            <br>
            {{text}}
            <hr>

            {{/each}}

            <div class="container">
                <div class="form-group">
                    <form action="/user/comment" method="post">
                        <label for="exampleFormControlTextarea1">New comment</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="text" rows="3"></textarea>
                        <input type="text" value="{{user._id}}" name="id" hidden>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </form>
                </div>
            </div>
        </div>


    </div>

</div>