<div class="container profile-container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3 col-sm-12 mr-4">
                    <div class="row d-flex justify-content-center align-content-center info">

                        <h1 style="color: white">Details of {{user.username}}</h1>

                        <img src="{{user.image}}" alt="{{user.username}} image" class="profile-avatar">

                        <div class="col-12 d-flex justify-content-center">

                            <ul>
                                <br>
                                <br>
                                <li>Username: {{user.username}}</li>
                                <li>Role: {{user.role}}</li>
                                <li>Description: {{user.description}}</li>
                                <br>
                                <br>
                                <br>
                                {{#if user.isFollower}}
                                <a href="/user/unfollow?id={{user._id}}&view=details" class="btn btn-primary"> Unfollow
                                </a>
                                {{else}}
                                <a href="/user/follow?id={{user._id}}&view=details" class="btn btn-primary"> Follow </a>
                                {{/if}}

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 col-sm-12">
                    <h2>Events Created by <span class="orange">{{user.username}}</span></h2> 
                    <div class="card-deck">
                        <div class="row">
                            {{#each createdEvents}}
                            <div class="col-md-3 col-sm-12">
                                <a href="/events/details?id={{_id}}">
                                    <div class="card">
                                        <img class="card-img-top" src="{{image}}" alt="{{name}} image">
                                        <div class="card-body">
                                            <h5 class="card-title">{{name}}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <hr>
                    <h2>Events to which will assist to</h2>
                    {{#each participatingEvents}}
                    <div class="col-md-3 col-sm-12">
                        <a href="/events/details?id={{_id}}">
                            <div class="card">
                                <img class="card-img-top" src="{{image}}" alt="{{name}} image">
                                <div class="card-body">
                                    <h5 class="card-title">{{name}}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                    <hr>
                    <h2>Followers</h2>
                    <ul>
                    {{#each user.followers}}
                    <li>
                    <a href="/community/details?id={{_id}}">{{username}}</a>

                    </li>
                    {{/each}}
                    </ul>
                    <hr>
                    <h2>Following</h2>
                    {{#each user.following}}
                    {{username}}
                    {{/each}}
                    <hr>
                    <h2>Comments</h2>
                    <ul>
                        {{#each userComments}}
                        <li>
                            <small>Comment by: {{owner.username}}</small>
                            <br>
                            {{text}}
                        </li>
                        {{/each}}
                    </ul>
                    <br>
                    <div class="container">
                        <div class="form-group">
                            <form action="/user/comment" method="post">
                                <label for="exampleFormControlTextarea1">New comment</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="text"
                                    rows="3"></textarea>
                                <input type="text" value="{{user._id}}" name="id" hidden>
                                <br>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>


