<div class="container profile-container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row">
                <div class="col-md-3 col-sm-12 mr-4">
                    <div class="row">
                        <h1 class="text-center">{{user.username}}</h1>

                        <img class="card-img-top" src="{{user.image}}" alt="{{user.username}} image">

                        <div class="col-12 d-flex justify-content-center">

                            <ul class="mt-4">
                                <li>Username: {{user.username}}</li>
                                <li>Role: {{user.role}}</li>
                                <li>Description: {{user.description}}</li>
                                <br>
                                <br>
                                <br>
                                {{#if user.isFollower}}
                                <a href="/user/unfollow?id={{user._id}}&view=details" class="btn btn-primary"> Unfollow
                                </a>
                                {{else}}
                                <a href="/user/follow?id={{user._id}}&view=details" class="btn btn-primary"> Follow </a>
                                {{/if}}

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 col-sm-12 mt-4 mb-4">
                    <h2 class="mb-4">Events Created by <span class="orange">{{user.username}}</span></h2>
                    <div class="card-deck row gap-4">
                        {{#each createdEvents}}
                        <div class="col-md-3 col-sm-12">
                            <a href="/events/details?id={{_id}}">
                                <div class="card">
                                    <img class="card-img-top" src="{{image}}" alt="{{name}} image">
                                    <div class="card-body">
                                        <h5 class="card-title">{{name}}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    <hr>
                    <h2 class="text-center">Will assist to</h2>
                    {{#each participatingEvents}}
                    <div class="col-md-3 col-sm-12">
                        <a href="/events/details?id={{_id}}">
                            <div class="card">
                                <img class="card-img-top" src="{{image}}" alt="{{name}} image">
                                <div class="card-body">
                                    <h5 class="card-title">{{name}}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                    <hr>
                    <h2 class="text-center">Followers</h2>
                    <div class="d-flex justify-content-center gap-3">
                        {{#each user.followers}}
                        <a href="/community/details?id={{_id}}">{{username}}</a> |
                        {{/each}}
                    </div>
                    <hr>
                    <h2 class="text-center">Following</h2>
                    <div class="d-flex justify-content-center gap-3">
                        {{#each user.following}}
                        <a href="/community/details?id={{_id}}">{{username}}</a> |
                        {{/each}}
                    </div>
                    <hr>
                    <h2 class="text-center mb-4">Comments</h2>
                    {{#each userComments}}
                    <div class="comment mb-3">

                        <div class="mb-1">
                            <small>Comment by: {{owner.username}}</small> |
                            <small>{{formattedDate}} at {{time}}</small>
                        </div>
                        <br>
                        <b>{{text}}</b>

                    </div>
                    {{/each}}
                    <br>
                    <div class="form-group">
                        <form action="/user/comment" method="post">
                            <label for="exampleFormControlTextarea1">New comment</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="text"
                                rows="3"></textarea>
                            <input type="text" value="{{user._id}}" name="id" hidden>
                            <br>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>