<div class="container orange-container">

    <h1 style="color: white">Community</h1>

    <div class="row">

        {{#each users}}
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img
                        class="card-img-top"
                        src="{{image}}"
                        alt="{{name}} profile image"
                    />
                    <div class="card-body">
                        <h5 class="card-title">{{username}}</h5>
                        <p class="card-text">{{description}}</p>
                        <a href="/community/details?id={{id}}" class="btn btn-primary"> Check details </a>
                        
                        <a href="/community/follow?id={{id}}" class="btn btn-primary"> Follow </a>
                        <a href="/community/message?id={{id}}" class="btn btn-primary"> Unfollow </a>
                    </div>
                </div>
            </div>
        {{/each}}

    </div>

</div>