<div class="container profile-container">

    <div class="row justify-content-center">
        <div class="col-12">

            <div class="row mb-5">
                <div class="col-12 col-md-3 col-sm-12 mr-4 p-4">
                    <div class="row d-flex align-content-center info p-4">
                        <div class="col-12 mb-3 d-flex justify-content-center">
                            <h2>My profile {{user.name}}</h2>
                        </div>

                        <div class="col-12 mb-4 d-flex justify-content-center">
                            <img width="50%" class="card-img-top" src="{{user.image}}" alt="image">
                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <div>
                                <p><strong class="mr-2">Username:</strong></p>
                                <p class="text-center">{{user.username}}</p>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-center">
                            <p class="textThree">{{user.profession}}</p>
                        </div>

                        <div class="col-12 d-flex align-items-center flex-column ">
                            <p><b>Email :</b></p>
                            <p>{{user.email}}</p>
                        </div>

                    </div>

                </div>

                <div class="col-md-9 col-sm-12">
                    <h2 class="text-center">Events Created</h2>
                    <div class="card-deck">
                        <div class="row">
                            {{#each createdEvents}}
                            <div class="col-md-3 col-sm-12">
                                <a href="/events/details?id={{_id}}">
                                    <div class="card">
                                        <img class="card-img-top" src="{{image}}" alt="{{name}} image">
                                        <div class="card-body">
                                            <h5 class="card-title">{{name}}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <hr>
                    <h2 class="text-center">Events Joined</h2>
                    {{#each participatingEvents}}
                    <div class=" col-12 col-md-3 d-flex justify-content-center">
                        <a href="/events/details?id={{_id}}">
                            <div class="card">
                                <img class="card-img-top" src="{{image}}" alt="{{name}} image">
                                <div class="card-body">
                                    <h5 class="card-title">{{name}}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                    <hr>
                    <h2 class="text-center">Followers</h2>
                    <div class="d-flex justify-content-center gap-3">
                        {{#each user.followers}}
                        <a href='/community/details?id={{id}}'>{{username}}</a> |
                        {{/each}}
                    </div>
                    <hr>
                    <h2 class="text-center">Following</h2>
                    <div class="d-flex justify-content-center gap-3">
                        {{#each user.following}}
                        <a href='/community/details?id={{id}}'>{{username}}</a>
                        {{/each}}
                    </div>
                    <hr>
                    <h2 class="text-center">Bookmarked News</h2>
                    <ul>
                        {{#each user.articles}}
                        <li>
                            <a href="{{url}}">
                                {{title}}
                            </a>
                            <br>
                        </li>
                        {{/each}}

                    </ul>
                    <hr>

                    <h2 class="text-center">Comments</h2>


                    {{#each userComments}}

                    <div class="comment mb-3">

                        <div class="mb-1">
                            <small>Comment by: {{owner.username}}</small> |
                            <small>{{formattedDate}} at {{time}}</small>
                        </div>
                        <br>
                        <b>{{text}}</b>

                    </div>


                    {{/each}}


                </div>

            </div>

        </div>

    </div>

</div>