<div class="container ">

    <div class="row">
        <div class="col-4">
                <h2>My profile {{user.name}}</h2>

                <img width="50%" src="{{user.image}}" alt="image">

                <br>

                Name : {{user.username}}

                <hr>

                <p class="textThree">Profession : {{user.profession}}</p>

                <hr>

                <h5 class="textTwo">Email : {{user.email}}</h5>

                <hr>
        </div>

        <div class="col-8">
            <h2>Events Created</h2>
                {{#each createdEvents}}
                    {{name}}
                {{/each}}
            <hr>
            <h2>Events Joined</h2>
                {{#each participatingEvents}}
                {{name}}
                {{/each}}
            <hr>
            <h2>Followers</h2>
                {{#each user.followers}}
                {{username}}
                {{/each}}
            <hr>
            <h2>Following</h2>
                {{#each user.following}}
                {{username}}
                {{/each}}
            <hr>
            <h2>Bookmarked News</h2>
                {{#each user.articles}}
                    <hr>
                    {{title}}
                {{/each}}
                <hr>
            <h2>Comments</h2>
                {{#each userComments}}
                
                <small>Comment by: {{owner.username}}</small>
                <br>
                <small>{{formattedDate}} at {{time}}</small>
                <br>
                {{text}}
                <hr>
                
                {{/each}}
        </div>
        
    </div>

</div>