<div class="container ">

    <div class="row">
        <h3 class="text">Technology sector news</h3>
        {{#each allArticles}}
            <div class="col-md-4 space">
                <div class="card color" style="width: 15rem;">
                        <img src="{{image}}" alt="">
                    <br>
                    {{title}}
                    <hr>
                    <div class="">
                        <p class="textThree">{{headline}}</p>
                    </div>
                    <hr>
                    <h5 class="textTwo">{{author}}</h5>
                    <h5 class="textTwo">{{date}}</h5>
                    <hr>
                    {{#if multimedia}} 
                    <img src="https://static01.nyt.com/{{multimedia.1.url}}" class="card-img-top" alt="image">
                   {{/if}}
                </div>
            </div>
        {{/each}}

    </div>
    
</div>